body {
    background-color: black;
    color: white;
}
h1{
    font-size: 20px;
}
p {
    font-size: 12px;
    color: lightgray;
}
div {
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}
ol {
     list-style-type: lower-alpha;
}
ul {
    list-style-type: square;
}
img {
    width: 200px;
    margin: 10px;
}

/* css for second page */

body.secondpage {
    background-color: beige;
    color: black;
}
h1.secondpage {
    border-style: solid;
    text-align: center;
    margin: 10px;

}
p.secondpage {
background-color: rgb(143, 112, 117);
border-style: solid;
border-color: black;
margin: 10px;
}
figure {
    margin: 5px;
}
label {
    margin-left: 10px;
    margin-top: 15px;
}
img.secondpage {
    margin: 5px;
}
progress {
margin-left: 10px;
    margin-top: 15px;
}
