body {
    background-color: black;
    color: white;
    width: 90%;
margin-left: auto;
margin-right: auto;
}
h1{
    font-size: 20px;
}
p {
    font-size: 12px;
    color: lightgray;
}
div {
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
    
}
ol {
     list-style-type: lower-alpha;
}
ul {
    list-style-type: square;
}
img {
    width: 200px;
    margin: 10px;
}

/* css for second page */

body.secondpage {
    background-color: beige;
    color: black;
}
h1.secondpage {
    border-style: solid;
    text-align: center;
    margin: 10px;

}
p.secondpage {
background-color: rgb(143, 112, 117);
border-style: solid;
border-color: black;
margin: 10px;
}
figure {
    margin: 5px;
}
label {
    margin-left: 10px;
    margin-top: 15px;
}
img.secondpage {
    margin: 5px;
}
progress {
margin-left: 10px;
    margin-top: 15px;
}
#header {
    border-style: none;
    width:auto;
    text-align: center;
    height: auto;
    background-color: rgb(227, 217, 217);
    margin: 0%;
}
#nav{
    border-style: none;
    width:auto;
    height: auto;
    background-color: rgb(225, 225, 223);
    text-align: center;
    padding: 10px;
}
#nav a:hover {
    color: red;

}
#article{
    float: right;
    border-style: none;
    width: 70%;
    height: 200px;
    background-color:rgb(122, 147, 148);
    
    
}
#footer{
   border-style: none; 
   width:auto;
   height: auto;
   background-color: gray;
   padding: 10px;
   text-align: center;
}
#verticalNav{
    float: left;
    width: 30%;
    border-style: none; 
    height: 200px;
    margin: 0%;
    background-color: antiquewhite;

}
#section::after{
    content: "";
    display:table;
    clear: both;
    
}
#section {
    border-style: none;
    width: auto;
    height: auto;
}
a {
text-decoration: none;
}
#verticalNav ul {
    list-style-type: none;
    padding: 10%;
}
#header h1 {
    color: black;
    margin: 0%;
    padding: 10px;
}
#article p,ul,ol {
    padding-left: 15px;
    color: black;
    margin: 10px;
}
